.app-container.default-theme {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-container {
        background-color: #f9f9f9;
        color: black;
        padding: 10px 20px;
        border-bottom: 2px solid #fff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .header-container h1 {
        margin: 0;
    }
    
    .header-column {
        .app-name {
            margin-left: 20px;
            /* Remove default margin */
        }
        
        .theme-buttons {
            margin-right: 25px;
        
            button {
                margin-right: 15px;
            }
        
        }
        
        .logout-button {
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            background-color: #dc3545;
            /* Red color */
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-right: 20px;
        }
        
        .logout-button:hover {
            background-color: #c82333;
            /* Darker red color on hover */
        }
    }

    .input-container,
    .list-container {
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 20px;
        width: fit-content;
    }

    .input-container {
        background-color: #f9f9f9;
    }

    .list-container {
        background-color: #f9f9f9;

        select {
            margin-bottom: 10px;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid #333;
    }

    th,
    td {
        padding: 10px;
        text-align: left;
    }

    td {
        color: blue;
    }


    .completed td {
        text-decoration: line-through;
        color: red;
    }
}